## Modelos de mapeado: LAV

ETL03-Mapeado (S13_S17)

In [1]:
import sqlite3

### 1. Esquema global

con dos tablas:

- Libro
- Autor

Y una relación m-m entre ellas.

In [ ]:
conn = sqlite3.connect('integrada-lav.db')
c = conn.cursor()

# Creamos la tabla
c.execute('''create table Libro
             (
               idLibro integer not null unique primary_key, 
               titulo varchar(255), 
               editorial varchar(45),
               fecha date,
               isbn varhcar(13)
             );
          
          create table Autor
          (
            idAutor integer not null unique primary key,
            nombre varchar(75)
          );
          
          create table Autor_has_Libro
          (
            Autor_idAutor integer not null,
            Libro_idLibro interger not null,
            foreign key (Autor_idAutor) references Autor (idAutor),
            foreign key (Libro_idLibro) references Libro (idLibro),
            primary key (Autor_idAutor, Libro_idLibro)
          );
          ''')

conn.commit()

conn.close()

### 2. Fuentes

Tres fuentes distintas:

#### Librería 1: base de datos relacional.

In [ ]:
#::GMG::Creamos la tabla de la fuente library-uk
conn = sqlite3.connect('library-uk.db')
c = conn.cursor()

# Creamos la tabla
c.execute('''CREATE TABLE Book
             (idBook integer not null unique primary_key, 
              title varchar(245), 
              authors text,
              publisher varchar(45),
              year integer,
              price varchar(45),
              ISBN varchar(13)
             );''')

conn.commit()

conn.close()

In [ ]:
#::GMG::Crear los datos para rellernar con faker(?)

#### Librería 2: base de datos relacional.

In [ ]:
#::GMG::Crear el modelo de la fuente library-es
conn = sqlite3.connect('library-es.db')
c = conn.cursor()

# Creamos la tabla
c.execute('''CREATE TABLE Publicacion(
   idPublicacion int not null UNIQUE PRIMARY KEY,
   Titulo varchar(255) null,
   Editorial varchar(45) null,
   Lengua varchar(45) null,
   FechaPublicacion date null,
   Precio float null);

CREATE TABLE Rol(
   idRol int not null UNIQUE PRIMARY KEY,
   rol varchar(45) null);

CREATE TABLE Persona(
   idPersona int not null UNIQUE PRIMARY KEY,
   Nombre varchar(45) null,
   Apellido1 varchar(45) null,
   Apellido2 varchar(45) null,
   FechaNacimiento date);

CREATE TABLE Persona_has_Publicacion(
   Persona_ idPersona int not null,
   Publicacion_idPublicacion int not null,
   Rol_idRol int not null,
   PRIMARY KEY (Persona_idPersona, Publicacion_idPublicacion),
   FOREIGN KEY (Rol_idRol) REFERENCES Rol (idRol),   	 
   FOREIGN KEY (Persona_idPersona) REFERENCES Persona (idPersona),
   FOREIGN KEY (Publicacion_idPublicacion) REFERENCES Publicacion (idPublicacion));''')

conn.commit()
conn.close()

In [ ]:
#::GMG::Rellenar los datos de las tablas con Faker

#### Librería 3: catalogo XML.

In [ ]:
#::GMG::Aquí hay que construir el modelo XML con Element Tree
# https://docs.python.org/3/library/xml.etree.elementtree.html

In [ ]:
#::GMG::Generar datos para rellenar el tree con faker
# https://faker.readthedocs.io/en/master/